/**
* Ultraligero Framework
* ---------------------
*
* Desarrollado por El Cultivo
* http://elcultivo.mx
*
*
*
* Usar ese archivo para customizar estilos
* 
*/

@charset "UTF-8";

@import "reset";
@import "_config"; 
@import "_mixins";
@import "_funciones";
@import "_base";
@import "_reticula"; 


/**
* FUENTES
* -------
*/

// Declara tus fuentes usando el MIXIN

@include declara-font-face(Open, '../fonts/OpenSans-Regular-webfont');
@include declara-font-face(Open, '../fonts/OpenSans-Bold-webfont', bold);
@include declara-font-face(Open, '../fonts/OpenSans-Italic-webfont', normal, italic);
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
/**
* TIPOGRAFÍA
* ----------
*/

// Tamaños de tipografía
// Crea clases para los principales tamaños que usas
// Asígnales tamaños usando el MIXIN tamano-fuente()

.tam-prin{ @include tamano-fuente(7, 8); }
.tam-sec{@include tamano-fuente(5, 6, false);}

.tam-ter{
	@include tamano-fuente(3, 5, false);
	p, ul, ol{ @include tamano-fuente(3, 5); }
	input, textarea{@include tamano-fuente(3, 5, 1); }
}
.tam-cuat{
	p{@include tamano-fuente(2, 5, 2);}
}

.tam-min{
	p, ul, ol{ @include tamano-fuente(1); }
}


/**
* SECCIONES
* -----------
*/

// Customiza cada sección
// Usa las clases que queiras para cada sección
// Modifica sus estilos aquí

.seccion{
	padding-top: tamano(11);
	padding-bottom: tamano(9);
}
.introduccion{
	background-color: $color-principal;
	color: $color-claro;
	h1{
		//margin-top: tamano(10);
		margin-bottom: tamano(9);
	}
}
.consulta{
	background-color: $color-fondo;
}
.como-funciona{
	background-color: $color-texto;
	.boton{
		background-color: $color-destacado;
	}
}
.contacto{
	background-color: $color-principal;
	.contacto-form{
		input, textarea{
			background-color: $color-principal;
			color: $color-claro;
			&[type="submit"]{ color: $color-claro;}
			&::-webkit-input-placeholder { color: $color-claro;}
			&:-moz-placeholder { color: $color-claro;}
			&::-moz-placeholder { color: $color-claro;}
			&:-ms-input-placeholder { color: $color-claro;}
		}
	}
}

.header-proxima{
	border: 2px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	.logo-proxima{
		width: 178px !important;
		margin-top: 40px !important;
		
	}

	div{
		display: inline-block;
	}

	.logo-proxima2{
		width: 178px !important;
		margin-top: 5px !important;
	
	}
}

.redes-header{
	z-index:120;
	position:fixed;
	width:100%;
	.contacto-botones{
		padding-right:55px;
		right:20px;
		top:20px;
		height:21px;
		z-index:100;
		font-family: 'Source Code Pro', monospace;
		a{
			float:right;
			font-weight: 500;
			font-size: 16px;
			line-height:21px;
			color:$color-texto;
			letter-spacing: .4px;
			text-decoration: none;
			color: #000000;
			span{
				margin-bottom:4px;
				
			}
		}
		.icono-contacto{
			margin-left:24px;
			margin-right:4px;
			width:21px;
			height:21px;

		}

	}
}

.desaparece-medio{
	@include respond-to(medio){ 
			display:none;
		}

}
.desaparece-chico{
	@include respond-to(chico){ 
		display:none !important	;
	}
}
.desaparece-grande{
	display:none 	;
	@include respond-to(chico){ 
		display:block;
	}
}

.menu-header{

	background-color: rgb(255, 255, 255);
	padding-top:10px;
	margin-left:20px;
	margin-right:20px;
	padding-bottom:12px;
	
	a{
		
		margin-right:25px;
		font-weight: 500;
		font-size: 16px;
		line-height:21px;
		color: $color-texto;
		text-decoration: none;
		letter-spacing: .2px;
		font-family: 'Source Code Pro', monospace;
		span{
			margin-bottom:4px;
		}

	}
}

.cuerpo{
	background-color: white;
}

.slider-home{
	padding: 0px 0px 0px 20px;
	height: auto;
	overflow: hidden;
	@include respond-to(chico){ 
	padding: 0px 0px 0px 0px;
	}
}

.seccion-pagina{
	padding-top: 30px;
	padding-bottom: 20px;

	.cuadro-trabajo{
		padding: 20px 20px 20px 20px;
		border-bottom: 20px solid #FF999A;
		background-color: $color-fondo;
		a,p{
			line-height: 35px;
		}
		a {
			float: right;
		  }
	}
	.cuadro-trabajo2{
		padding: 20px 20px 20px 20px;
		border-bottom: 20px solid #993399;
		background-color: $color-fondo;
		a,p{
			line-height: 35px;
		}
		a {
			float: right;
		  }
	}
	.cuadro-trabajo3{
		padding: 20px 20px 20px 20px;
		border-bottom: 20px solid #EA2707;
		background-color: $color-fondo;
		a,p{
			line-height: 35px;
		}
		a {
			float: right;
		  }
	}

	span{
		font-size: 15px;
		padding-left: 10px;
		font-weight: 510;
	}

	span{
		font-size: 15px;
		padding-left: 10px;
		font-weight: 510;
	}
}

.seccion-empresa{
	padding-top: 40px;
	padding-bottom: 40px;

	.logo-empresa{
		width: 150px !important;
		margin-top: 40px !important;
		padding-bottom: 20px;
	}

	span{
		font-size: 15px;
		padding-left: 10px;
		font-weight: 510;
	}
	
}


.seccion-nosotros{
	p{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	span{
		font-size: 15px;
		padding-left: 10px;
		font-weight: 510;
	}
}

.seccion-insta{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $color-fondo;

	.img-insta{
		width: 270px !important;
		margin-top: 10px !important;
		padding-bottom: 10px;
	}

	span{
		font-size: 15px;
		padding-left: 10px;
		font-weight: 510;
	}

}

.pre-footer{
	background-color: #EDEDED; 
	padding-top: 20px;
	padding-bottom: 20px;
	p{
	  font-size: 19px;
	  text-align: center;
	}
}

.footer-proxima{
	background-color: white;//wraper
	.logo-proxima-footer{
		width: 218px !important;
		margin-top: 40px !important;
		padding-bottom: 20px;
	}
	.direccion-texto{
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.mapa-footer{
	padding-left: 0px;
	iframe{
		width: 1200px;
		height:300px;
		border:0;
		@include respond-to(chico){ 
			padding: 0px 0px 0px 0px;
			}
	}	
}

.fondo-footer{
	background-color: black;
	padding-top: 30px;
	padding-bottom: 30px;
	p{
		font-size: 18px;
		color: #f7f7f7;
	  }

	  .cuadro-fondo2{
		  text-align: right;
	  }
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 255, 255);
  }
  
  li {
	float: right;
  }
  
  li a {
	display: inline-block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Source Code Pro', monospace;
  }
  
  .swiper-container {
	width: 995px;
	height: 500px;
  }

  .swiper-container-empresa {
	width: 995px;
	height: 400px;
  }


.header {
}
.header .image {
background-color: rgb(255, 255, 255);
width: 178px !important;
margin-top: 40px !important;
}
.header .text {
background-color: rgb(255, 255, 255);
}
.header menu {
float:right;
}
.menu ul {
float: right;
list-style-type: none;
}
.menu li {
float: left;
margin: 0 8px;
}
.image, .text, .menu {
display: inline-block;
vertical-align: bottom;
}

.navbar {
	width: 100%;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	margin-bottom: 20px;
  }
  
  .navbar a {
	float:inline-end;
	padding: 23px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 17px;
	
	font-family: 'Source Code Pro', monospace;
	width: 100%; /* Four links of equal widths */
	text-align: center;
  }
  
  .navbar a:hover {
	background-color: rgba(201, 201, 201, 0.651);
  }
  
  .navbar a.active {
	background-color: #04AA6D;
  }
  
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: right;
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }


//   prueba github